.Home .lander {
  padding: 80px 0;
  text-align: center;
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Home .lander p {
  color: #999;
}

.Home .aphorisms h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Home .aphorisms p {
  color: #666;
}

.Home .lander div {
  padding-top: 20px;
}

.Home .lander div a:first-child {
  margin-right: 20px;
}

.Home > .segment.pushable > .pusher > .segment.segment-quote-container {
  margin: 0;
  padding: 0;
  border-radius: unset;
  border: none;
}

.Home > .segment.pushable > .pusher > .segment.segment-quote-container >
button.sidebar-show {
  position: absolute;
  top: 50%;
  right: 5%;
  background-color: transparent;
}
