.NewAphorism.container {
  margin-top: 7em;
}

.NewAphorism form {
  padding-bottom: 15px;
}

.NewAphorism form textarea {
  height: 300px;
  font-size: 24px;
}

label.form-label {
  display: block;
  margin: 0 0 .28571429rem 0;
  color: rgba(0,0,0,.87);
  font-size: .92857143em;
  font-weight: 700;
  text-transform: none;
}
