@import url('https://fonts.googleapis.com/css?family=Handlee|Open+Sans+Condensed:300');

.ui.segment.quote-segment {
  background-color: rgba(235,235,235,0.70);
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  justify-content: center;
}

.ui.segment.quote-segment > .quote-text {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ui.segment.quote-segment > .quote-text > .quote-text-title {
  font-family: 'Handlee', cursive;
}

.ui.segment.quote-segment > .quote-author {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: flex-end;
}

.ui.segment.quote-segment > .quote-author > .quote-author-name {
  font-family: 'Open Sans Condensed', sans-serif;
}
