/* https://coolors.co/ebe9e9-f3f8f2-3581b8-fcb07e-dee2d6 */

.App {
  margin: 0;
}

.App.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #dee2d6;
}

.App.container > * {
  flex: 1;
}

.App #navbar {
  background-color: #dee2d6;
}

.App #footer  {
  border: none;
  border-radius: unset;
  background-color: #dee2d6;
}
